### TeX ###
## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc

## Intermediate documents:
*.dvi
*-converted-to.*

### Editor ###
## Vim & Emacs temp files:
.*sw[op]
*~

### Mac OS X ###
## Mac OS X metadata files:
*.DS_Store

siddharth/coverletter.synctex.gz
cv.fdb_latexmk
siddharth/coverletter.xdv
siddharth/resume.fdb_latexmk
siddharth/resume.xdv
siddharth/coverletter.fdb_latexmk
siddharth/resume.synctex.gz
coverletter.fdb_latexmk
siddharth/coverletter.pdf
siddharth/cv.pdf
siddharth/resume.pdf
output/SiddharthNair_08092025_resume.pdf
